<!doctype html>
<html>
  <head>
    <title>Google API Example</title>
         <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
         <script src="{{ url_for('static', filename='jsScript.js') }}"></script>
  </head>
  <h1>Landing page for the Final Project</h1>
  <body>
    <input type="text" id="query" placeholder="Where do you want to go!">
    <button id="search">Search</button>

    <p><a href="" id="url" target="_blank">Here you go!</a></p>

  </body>
</html>
